/* Googel fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Truculenta:opsz,wght@12..72,100..900&display=swap');

/* Asterisk wildcard selector to override defaultstyles from browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#logo {
    font-size: 170%;
}

/* general styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* generic project styles */
    color: darkslategray;
    font-family:'open sans', sans-serif ;
}

/* Header */
header {
    background-color: rgba(242, 253, 92, 0.986) ;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display:flex ;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}
h1 {
    font-family: 'Truculenta', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: darkslategray;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu > li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid darkslategray;
}

/* Navbar styling with drop down */
nav {
    position: absolute;
    background-color: rgba(242, 253, 92, 0.986) ;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px darkslategray;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}
#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* Main content */
main {
    /* Main element takes avalible space */
    flex: 1 0 auto;
    margin-top: 43px;
}

/* Hero */
#hero {
    height: 600px;
    width: 100%;
    background:url("../images/Hero-image\ first.html")
}
/* footer */
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    background-color: rgba(242, 253, 92, 0.986);
}

#social-networks i {
    font-size: xx-large;
    padding: 5%;
    color: darkslategray;
}

/* Media query for tablet and lager screens (768px and up) */
@media screen and (min-width: 768px) {
    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }
    
    #menu {
        display: flex;
    }

    #menu > li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }
    #logo {
        font-size: 170%;
        line-height: 50px;
        margin: 0 0.2rem;
    }
    /* Push main content down for larger header */
    main {
        margin-top: 50px;
    }
    #menu {
        font-size: 80%;
    }
}

/* Media query laptops and desktops (992px and up) */
@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid #3a3a3a;
    }
    #logo {
        font-size: 170%;
    }
    #menu {
        font-size: 100%;
    }
    main {
        margin-top: 56px;
    }
    
}